@import "../../../styles/variables.scss";

.product-desc {
  padding-top: 100px;
  height: calc(100% - 100vh);
}

.product-desc {
  .no-mobile {
    display: none;
  }

  .product__container {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (min-width: 750px) {
  .product-desc {
    display: flex;
  }

  .product-desc {
    .mobile {
      display: none;
    }
    .no-mobile {
      display: flex;
    }

    .product__container {
      margin-top: 20px;
      display: flex;
      width: 85%;
    }

    .produt__img {
      //   width: 900px;
      width: 50%;
      //   flex: 2 2 auto;
      margin-right: 20px;
    }

    .product__description {
      width: 30%;
      //   flex: 2 2 auto;
      margin-right: 20px;
    }

    .product__description {
      .product__title.no-mobile {
        font-size: 30px;
      }
    }

    .product__price {
      width: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
