@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap");

$backgroundColor: #030016;
$color1: rgb(186, 47, 47);
$color2: rgb(189, 59, 59);
$color3: rgb(111, 18, 18);
$color4: #303030;
$header-height: 50px;

$PattayaFont: "Pattaya", sans-serif;
$YanoneFont: "Yanone Kaffeesatz", sans-serif;
